all:
  hosts:
    {% for host, ip in all_hosts.items() %}
    {{ host }}:
      ansible_host: {{ ip }}
      ip: {{ ip }}
      access_ip: {{ ip }}
    {% endfor %}
  children:
    kube_control_plane:
      hosts:
        {% for host in kube_control_plane_hosts %}
        {{ host }}:
        {% endfor %}
    kube_node:
      hosts:
        {% for host in kube_node_hosts %}
        {{ host }}:
        {% endfor %}
    etcd:
      hosts:
        {% for host in etcd_hosts %}
        {{ host }}:
        {% endfor %}
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
    calico_rr:
      hosts: {}
